# demo output
*.jpg
*.jpeg
*.csv
tiles/
aerialbot.log
# config.ini

# venv stuff
bin
include
lib
pyvenv.cfg
lib64
pip-selfcheck.json
__pycache__

# Jupyter Notebook
.ipynb_checkpoints

# vscode settings
.vscode/

# data
shapefiles/
*.gif